@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource-variable/inter';
@import '@fontsource-variable/jetbrains-mono';

#root {
    height: 100vh;
    width: 100vw;
    font-family: 'Inter Variable', sans-serif;
}

html {
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

.active {
    color: #ffffff6e;
    font-weight: bolder;
}

